.formControl {
  padding: 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
}

.formControl:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.isInvalid {
  border-color: #e3342f;
  background-image: none;
}

.invalidFeedback {
  color: #e3342f;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.formGroup {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
